.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100vh;
    display: none;
    background: rgba(0, 0, 0, 0.473);
    &__active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .modal_window {
    background: darkblue;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .modal_none {
      display: none;
  }
  .modal_btn {
    width: 100px;
    height: 30px;
    background: yellow;
    border: 2px solid green;
    margin: 0 10px;
    cursor: pointer;
  }
  .modal_btn:hover {
    background: darkgreen;
    border: 2px solid yellow;
  }

